<footer id="sticky-footer" class="bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Alzubair", "https://alzubair.netlify.app/", class: "underline text-white" %></small>
  </div>
</footer>