<div id="home-cont">
  <div class="jumbotron text-center">
    <div class="text-cont">
      <h1 class='display-4 text'>Zee App</h1>
      <p class='lead text'>This is a simple budget app built using Rails</p>
      <hr class="my-4 hr-home">
      <p class='text'>Feel Free To Try It</p>
      <%# if user_signed_in? %>
      <%= link_to "Sign out",    class: "btn btn-danger btn-lg"%>
      <%#else%>
      <%= link_to "Sign up!",   class: "btn btn-success btn-lg"%> <%= link_to "Sign in",  class: "btn btn-primary btn-lg"%>
      <%#end%>
    </div>
  </div>
</div>

<%# data: { turbo_method: 'delete' }, %>
<%# destroy_user_session_path, %>
<%# new_user_registration_path, %>

<%# user_session_path, %>