@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html,
body {
  height: 100%;
}

// footer and layout page
#sticky-footer {
    position: fixed;
    height: 5%;
    padding-top: 4px;
    bottom: 0;
    width: 100%;
    flex-shrink: none;
}

#page-content {
flex: 1 0 auto;
background-color: lightgray;
}


// no underline 
.underline {
    text-decoration: none;
}

// navbar 
.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.name{
    font-family: 'Qwitcher Grypen', cursive;
    margin-left: 70%;
    font-size: 2em;
    color: #fff;
    // text-transform: uppercase;
}

// home page 
#home-cont{
    height: 100%;
}

.jumbotron{
    position: fixed;
    background-image: asset-url("budget.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.text-cont{
    margin-top: 15rem;
}

.hr-home{
    border-top: solid white;
    margin: 0 10rem;
}

.text{
    color: #fff;
    font-weight: bold !important;
}

.a{
    position: absolute;
}

// log-in sign-up pages 
.background{
    position: absolute;
    translate:(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 10.5rem;
    width: 10.5rem;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 110px;
    top: 140px;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: 110px;
    bottom: 130px;
}

.form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 25px 35px;
}

.form *{
    font-family: 'Poppins',sans-serif;
    color: #1a2421;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.559);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: -9px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #1a2421;
}

.button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

// sign-up 
.label1{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

// .social{
//     margin-top: 30px;
//     display: flex;
// }

// .social div{
//     background: red;
//     width: 150px;
//     border-radius: 3px;
//     padding: 5px 10px 10px 5px;
//     background-color: rgba(255,255,255,0.27);
//     color: #eaf0fb;
//     text-align: center;
// }

// .social div:hover{
//     background-color: rgba(255,255,255,0.47);
//   }