@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: 0;
}

.underline {
  text-decoration: none;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.name {
  font-family: 'Qwitcher Grypen', cursive;
  margin-left: 70%;
  font-size: 2em;
  color: #fff;
}

#home-cont {
  height: 100%;
}

.jumbotron {
  position: fixed;
  background-image: url("budget.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.text-cont {
  margin-top: 15rem;
}

.hr-home {
  border-top: solid white;
  margin: 0 10rem;
}

.text {
  color: #fff;
  font-weight: bold !important;
}

.a {
  position: absolute;
}

.background {
  position: absolute;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 10.5rem;
  width: 10.5rem;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background:
    linear-gradient(
      #1845ad,
      #23a2f6
    );
  left: 110px;
  top: 140px;
}

.shape:last-child {
  background:
    linear-gradient(
      to right,
      #ff512f,
      #f09819
    );
  right: 110px;
  bottom: 130px;
}

.form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 25px 35px;
}

.form * {
  font-family: 'Poppins', sans-serif;
  color: #1a2421;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.559);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: -9px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #1a2421;
}

.button {
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.label1 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.submit-button {
  margin-top: 1rem;
}

.card-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bttn {
  padding: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border-radius: 4px;
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(0, 0, 0, 0.15);
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgba(2, 0, 36, 0) 5%, rgba(255, 255, 255, 0.5) 6%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0.5) 19%, rgba(255, 255, 255, 0) 21%);
  background-size: 150%;
  background-position: right;
  transition: 1s;
}

.bttn:hover {
  background-position: left;
  color: darkgray;
  box-shadow: inset 0 3px 5px rgb(0, 0, 0), 0 0 10px rgba(0, 0, 0, 0.25);
}

.bttn:focus {
  outline: none;
}

.text-color {
  color: darkgray;
}

.card-contt {
  display: flex;
  flex-direction: row;
  margin: 10px 5px;
  background-color: white;
  height: 8rem;
  width: 22rem;
}

.img-cont {
  width: 40%;
}

.img {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-top: 10px;
}

.cont-text {
  margin-bottom: -10px;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
}

.cont-text h5 {
  margin: 0;
  padding: 0;
}

.cont-text p {
  margin: 0;
  padding: 0;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  }
  
  .button-21:active,
  .button-21:focus {
  outline: none;
  }
  
  .button-21:hover {
  background-position: -20px -20px;
  }
  
  .button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }